#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

#sidebar:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15;
    background-image: url(./images/skyline.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#headshot {
  max-width: 200px;
}

#links a,
#icons i,
img {
  color: #d1d1d1;
  text-decoration: none;
}

#links a,
img {
  transition: .5s;
}

#links a:hover,
#icons i:hover,
.sidebar-text,
.active-page a {
  color: white !important;
}

.active-page::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #f8f9fa;
  position: absolute;
  right: -5px;
  margin-top: -16px;
  transform: rotate(45deg);
}

.navbar-toggler {
  border: none;
}

.nav-link {
  width: max-content;
}

#main {
  margin-left: 25%;
  min-height: 100vh;
  padding: 4rem 2rem;
}

@media (max-width: 768px){
  #sidebar {
    position: relative;
    height: auto;
  }

  #icons {
    position: relative;
    bottom: initial;
  }

  #main {
    margin-left: 0;
    min-height: calc(100vh - 3.5em + 2px);
    padding: 2rem 1rem;
  }
}

.display-6 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.icon-title {
  display: inline;
  margin-left: .25em;
}

.btn-clear {
  border: 1px solid #212529;
}

.btn-clear:hover, .btn-clear:active {
  border: 1px solid #6c757d;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.275);
}

@media (max-width: 768px){
  .btn-clear {
    flex-basis: 45%;
  }
}