.projects {

}

.project {
  width: 300px;
  margin: 1.5em 1.5em 0 0;
}

@media only screen and (max-width: 948px) {
  .projects {
    flex-direction: column;
  }

  .project {
    margin: 1.5em auto 0 auto;
  }
}

.project-image {
  height: 150px;
  width: 300px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.275);
  transition: .5s;
}

.project-image:hover {
  background-size: 125% 125%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.375);
}

#bullseye div {
  background-image: url(../images/bullseye.png);
}

#degaetano-carr div {
  background-image: url(../images/degaetanocarr.png);
}

#asterisk div {
  background-image: url(../images/asterisk.png);
}

#konstru div {
  background-image: url(../images/konstru.png);
}

#team-lyders div {
  background-image: url(../images/teamlyders.png);
}
