<div>
  <h1 class="display-4">Contact Me</h1>
  <div class="mt-4">
    <p><i class="fas fa-envelope mr-2"></i>Email: <a class="text-muted" href="mailto:will@willcarr.dev">will@willcarr.dev</a></p>
    <p><i class="fab fa-github mr-2"></i>Github: <a class="text-muted" href="https://github.com/Will-Carr">Will-Carr</a></p>
    <p><i class="fab fa-linkedin mr-2"></i>LinkedIn: <a class="text-muted" href="https://www.linkedin.com/in/william-carr-133a8510b/">william-carr-133a8510b</a></p>
  </div>
</div>
