<div>
  <div id="solo">
    <h1 class="display-4">Solo Projects</h1>
    <div class="projects d-flex flex-wrap">

      <div class="project" id="bullseye">
        <a href="/portfolio/bullseye-redevelopment/" class="text-muted"><h4>Bullseye Redevelopment</h4></a>
        <a href="/portfolio/bullseye-redevelopment/">
          <div title="Bullseye Redevelopment" class="project-image rounded-lg border border-info"></div>
        </a>
      </div>

      <div class="project" id="degaetano-carr">
        <a href="/portfolio/degaetano-carr/" class="text-muted"><h4>DeGaetano & Carr</h4></a>
        <a href="/portfolio/degaetano-carr/">
          <div title="DeGaetano & Carr" class="project-image rounded-lg border border-info"></div>
        </a>
      </div>

    </div>
  </div>

  <div id="contributions" class="mt-5">
    <h1 class="display-4">Contributions</h1>
    <div class="projects d-flex flex-wrap">

      <div class="project" id="team-lyders">
        <a href="/portfolio/team-lyders/" class="text-muted"><h4>Team Lyders</h4></a>
        <a href="/portfolio/team-lyders/">
          <div title="Team Lyders" class="project-image rounded-lg border border-info"></div>
        </a>
      </div>

      <div class="project" id="asterisk">
        <a href="/portfolio/asterisk/" class="text-muted"><h4>Asterisk</h4></a>
        <a href="/portfolio/asterisk/">
          <div title="Asterisk" class="project-image rounded-lg border border-info"></div>
        </a>
      </div>

      <div class="project" id="konstru">
        <a href="/portfolio/konstru/" class="text-muted"><h4>Konstru</h4></a>
        <a href="/portfolio/konstru/">
          <div title="Konstru" class="project-image rounded-lg border border-info"></div>
        </a>
      </div>

    </div>
  </div>
</div>
